/*
    Document   : global
    Created on : Dec 5, 2013, 8:03:16 PM
    Author     : administrator
    Description: global styles for polam
    Imports all our styles.
*/

/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/

/* Import our styles */
@import "init";
@import "base/base";
@import "base/mainmenu";
@import "base/header";
@import "base/footer";
@import "base/sidebar1";
@import "base/content";
/*@import "base/mobile_480";*/
/*@import "base/mainmenu";
@import "base/footer";
@import "base/sidebar";
@import "base/header";
@import "base/content";*/
/*@import "components/sexyslider";*/