/*
    Document   : mobile_480
    Created on : Dec 10, 2013, 4:39:08 PM
    Author     : administrator
    Description:
    Purpose of the stylesheet follows.
*/
/*
    TODO customize this sample style
    Syntax recommendation http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html
*/
/* Import our styles */
@media all and (max-width: 480px) {
  /* Hide the H2 on the Mean menu - responsive menu module  */
  /* line 20, ../../sass/base/mobile_480.scss */
  .mean-nav h2 {
    display: none;
  }

  /* This is the responsive menu */
  /* line 23, ../../sass/base/mobile_480.scss */
  .responsive-menus.responsified {
    clear: both;
    width: 50%;
  }

  /* line 27, ../../sass/base/mobile_480.scss */
  .responsive-menus.responsified .responsive-menus-simple {
    display: none;
    width: 100%;
    background: #eecc33;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 2px 2px 2px #000;
  }

  /* line 35, ../../sass/base/mobile_480.scss */
  .responsive-menus.responsified span.toggler {
    background: red;
    color: white;
    font-size: 10px;
    margin: 1% 0;
    /* TM*/
    font-size: 1.0rem;
    width: 30%;
  }

  /* page stuff */
  /* line 45, ../../sass/base/mobile_480.scss */
  #page {
    padding: 0;
    margin: 2%;
  }

  /* line 50, ../../sass/base/mobile_480.scss */
  .header {
    padding: 0;
    /* the block containing the logo*/
  }
  /* line 53, ../../sass/base/mobile_480.scss */
  .header #logo img {
    border: 1px solid #fdfdfd;
    width: 97%;
  }
  /* line 59, ../../sass/base/mobile_480.scss */
  .header #block-delta-blocks-branding {
    max-width: 97%;
  }

  /* line 64, ../../sass/base/mobile_480.scss */
  #headsocial {
    display: none;
  }

  /* This is the responsive menu */
  /* line 69, ../../sass/base/mobile_480.scss */
  .responsive-menus.responsified span.toggler {
    background: red;
    color: white;
    font-size: 10px;
    margin: 1% 0;
    /* TM*/
    font-size: 1.0rem;
    width: 15%;
  }

  /* line 81, ../../sass/base/mobile_480.scss */
  #loginBlock iFrame {
    margin: -5% 0 0 0;
  }

  /* line 86, ../../sass/base/mobile_480.scss */
  .sidebars {
    /*background: #ddd;*/
  }
  /* line 88, ../../sass/base/mobile_480.scss */
  .sidebars .sidebarBlock {
    margin-top: 11%;
    background-image: none;
    /*background-size: contain;*/
    border: 1px solid blue;
    /*background:#fff;*/
    /*border: 2px solid $site-blue;*/
    /*  border-radius: 15px;
        -moz-border-radius: 15px;
    -webkit-border-radius:15px;*/
    margin-left: 0;
    height: 130px;
    /*important! */
  }
  /* line 101, ../../sass/base/mobile_480.scss */
  .sidebars .sidebarBlock:hover {
    background-color: #FFFEEE;
  }
  /* line 102, ../../sass/base/mobile_480.scss */
  .sidebars .sidebarBlock h3 {
    margin-top: 3%;
    padding-left: 15%;
    color: blue;
  }
  /* line 109, ../../sass/base/mobile_480.scss */
  .sidebars .ReadMoreBlueBelow {
    margin: -3.2% 0 -5% 0;
  }
  /* line 111, ../../sass/base/mobile_480.scss */
  .sidebars .ReadMoreBlueBelow span {
    padding-left: 5%;
  }
  /* line 112, ../../sass/base/mobile_480.scss */
  .sidebars .ReadMoreBlueBelow span img {
    position: relative;
    left: -2%;
    top: 0;
  }

  /* line 124, ../../sass/base/mobile_480.scss */
  #home-panel .panel-pane {
    clear: both;
    width: 98%;
  }

  /* line 130, ../../sass/base/mobile_480.scss */
  .panel-2col .panel-col-first, .panel-2col .panel-col-last, .panel-2col-stacked .panel-col-first, .panel-2col-stacked .panel-col-last {
    clear: both;
    width: 98%;
  }
  /* line 133, ../../sass/base/mobile_480.scss */
  .panel-2col .panel-col-first img, .panel-2col .panel-col-last img, .panel-2col-stacked .panel-col-first img, .panel-2col-stacked .panel-col-last img {
    text-align: center;
  }

  /* line 136, ../../sass/base/mobile_480.scss */
  #services_panel {
    margin: 2% 0 0 2%;
    /*    ul { margin: 2% 0 0 2%;}*/
  }
  /* line 138, ../../sass/base/mobile_480.scss */
  #services_panel img {
    float: none;
    margin-bottom: 5%;
  }
  /* line 140, ../../sass/base/mobile_480.scss */
  #services_panel li {
    line-height: 120%;
    list-style-type: circle;
  }
  /* line 141, ../../sass/base/mobile_480.scss */
  #services_panel p {
    padding: 0 0;
  }
}
/* end media query */
